@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
}

.header {
  width: 1440px;
  height: 80px;
  padding: 0 165px 0 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 60px;
}

.header__navList {
  display: flex;
}

.header__navItem {
  margin-right: 32px;
  position: relative;
  line-height: 80px;
  min-width: fit-content;
}

.header__navLink {
  color: #999999;
}

.header__navLink--active {
  color: #2E1AAD;
}

.header__navLink:hover {
  color: #5136FF;
}

.header__navLink--active::after {
  content: "";
  height: 1px;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #2E1AAD;
}

.header__navItem:last-child {
  margin-right: 48px;
}

.header__loginBtn {
  margin-right: 14px;
}

.btn {
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  cursor: pointer;
  white-space: nowrap;
}

.header .btn {
  padding: 10px 30px;
}

.btn--primary {
  color: #ffffff;
  background: #2E1AAD;
}

.btn--primary:hover {
  background: #5136FF;
}

.btn--secondary {
  color: #2E1AAD;
  background: transparent;
}

.btn--secondary:hover {
  color: #5136FF;
  border-color: #5136FF;
}

.hero {
  background: #f5f7fa;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-inner {
  max-width: 1440px;
  display: grid;
  grid-template-areas: "a b" "c c";
  padding: 72px 114px 112px 136px;
  box-sizing: border-box;
  column-gap: 32px;
  row-gap: 48px;
}

.hero__info {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__img {
  grid-area: b;
}

.hero__search {
  grid-area: c;
}

.hero__heading {
  color: #231F20;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  max-width: 80%;
  margin-bottom: 28px;
}

.hero__text {
  color: #999999;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  max-width: 484px;
}

.search-form {
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  display: flex;
  padding: 22px 32px;
  box-sizing: border-box;
  gap: 24px;
  width: 1100px;
  height: 96px;
  background: #fff;
}

.search-form__btn {
  padding: 16px 30px;
}

.job, .where, .distance {
  border-radius: 8px;
  border: 1px solid #dddddd;
  color: #999999;
  padding-left: 16px;
  font-size: 16px;
}

.job {
  width: 30%;
}

.where {
  width: 28%;
}

.distance {
  width: 22%;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/assets/img/dropdown_arrow.svg") no-repeat 90%;
}

.guide {
  width: 1440px;
  margin: 0 auto;
  padding: 112px 224px 151px 165px;
  box-sizing: border-box;
}

.candidates {
  display: grid;
  grid-template-areas: "heading img" "info img";
  column-gap: 120px;
  margin-bottom: 170px;
}

.candidates__heading {
  margin-bottom: 48px;
}

.guide__info-container {
  grid-area: info;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 524px;
}

.guide__info {
  width: 244px;
}

.guide__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #231F20;
  margin-bottom: 8px;
}

.guide__text {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.candidates__img {
  grid-area: img;
}

.employers {
  display: grid;
  grid-template-areas: "img heading" "img info" "img btn";
  column-gap: 135px;
  margin-bottom: 106px;
}

.employers__heading {
  margin-bottom: 48px;
}

.employers__img {
  grid-area: img;
  margin-top: 50px;
}

.employers__btn, .headhunters__btn {
  grid-area: btn;
  justify-self: start;
  padding: 16px 11px;
  margin-top: 30px;
}

.headhunters {
  display: grid;
  grid-template-areas: "heading img" "info img" "btn img";
  column-gap: 120px;
}

.headhunters__img {
  grid-area: img;
}

.comments-wrapper {
  background: #ecf8fe;
}

.comments {
  padding: 112px 165px;
  margin: 0 auto;
  width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.comments__heading {
  font-size: 40px;
  line-height: 56px;
  font-weight: 800;
  color: #231F20;
  margin-bottom: 8px;
}

.comments__text {
  font-size: 18px;
  line-height: 30px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 56px;
}

.comments__container {
  gap: 30px;
  max-width: 1100px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.comment-Item {
  width: 350px;
  height: 410px;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  padding: 32px 40px;
  box-sizing: border-box;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  scroll-snap-align: start;
  cursor: grab;
}

.comments__container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.comment-Item__img {
  margin-bottom: 26px;
}

.comment-Item__heading {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.comment-Item__text {
  margin-bottom: 95px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #231F20;
}

.user__info {
  display: grid;
  grid-template-areas: "img name" "img status";
  column-gap: 12px;
  justify-content: start;
}

.user__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-area: img;
}

.user__name {
  grid-area: name;
  font-size: 16px;
  line-height: 24px;
  color: #231F20;
}

.user__status {
  grid-area: status;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.sliders__nav {
  display: flex;
  gap: 12px;
  margin: 48px auto 0;
}

.sliders__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cccccc;
}

a.sliders__dot--active {
  background: transparent;
  border: 3px solid #2E1AAD;
  transform: translateY(-25%);
}

* {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.main {
  width: 100%;
}

.section__heading {
  grid-area: heading;
  font-size: 40px;
  line-height: 56px;
  font-weight: 800;
  color: #231F20;
}

/*# sourceMappingURL=styles.css.map */
