@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Montserrat:wght@900&display=swap");
.header-wrapper {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.header {
  box-sizing: border-box;
  max-width: 1440px;
  height: 80px;
  padding: 0 165px 0 135px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #ffffff;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  margin-right: 60px;
  background: #ffffff;
}

.header__navList {
  display: flex;
}

.header__navItem {
  margin-right: 32px;
  position: relative;
  line-height: 80px;
  min-width: fit-content;
}

.header__navLink {
  color: #999999;
}

.header__navLink--active {
  color: #2E1AAD;
}

.header__navLink:hover {
  color: #5136FF;
}

.header__navLink:active {
  color: #221386;
}

.header__navLink--active::after {
  content: "";
  height: 1px;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #2E1AAD;
}

.header__navItem:last-child {
  margin-right: 48px;
}

.header__loginBtn {
  margin-right: 14px;
}

.header__mobile-buttons {
  display: none;
}

.header__menuBtn {
  border: none;
  height: 14px;
  cursor: pointer;
  background: transparent;
  padding-top: 3px;
}
.header__menuBtn:hover .menu__line {
  background: #5136FF;
}

.header__menuBtn--active .menu__line:nth-child(2) {
  background-color: transparent !important;
}
.header__menuBtn--active .menu__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  transform-origin: 55% 60%;
  background: #999999;
}
.header__menuBtn--active .menu__line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  transform-origin: 60% 60%;
  background: #999999;
}
.header__menuBtn--active:hover .menu__line {
  background: #5136FF;
}

.menu__line {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #2E1AAD;
  margin-bottom: 4px;
  transition: all 0.12s;
}

.menu__line:last-child {
  margin-bottom: 0;
}

@media (max-width: 1100px) {
  .header {
    padding: 0 15px;
  }
}
@media (max-width: 900px) {
  .header {
    height: 65px;
    max-width: 95%;
    padding: 0 15px;
    justify-content: space-between;
  }
  .header * {
    z-index: 5;
  }

  .header__logo {
    height: 30px;
    width: 123px;
    padding: 15px 0;
  }

  .header__signBtn,
.header__loginBtn {
    display: none !important;
  }

  .header__navList {
    flex-direction: column;
  }

  .header__navItem {
    line-height: 52px;
  }

  .header__nav-wrapper {
    z-index: 1 !important;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    background: white;
    left: 0;
    padding: 0 15px 0;
    transform: translateY(-200%);
    transition: transform 0.2s ease-out;
  }

  .header__nav-wrapper--active {
    top: 0px !important;
    transform: translateY(66px);
  }

  .header__mobile-buttons {
    display: flex;
    gap: 20px;
  }

  .header__account-btn {
    display: block;
  }

  .header__account-btn:hover svg path {
    fill: #5136FF;
  }
}
.btn {
  border-radius: 8px;
  border: 1px solid #2E1AAD;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .btn {
  width: 100px;
  height: 40px;
  font-size: 14px;
}

.btn--primary {
  color: #ffffff;
  background: #2E1AAD;
}

.btn--primary:active, .btn--secondary:active {
  background: #221386 !important;
}

.btn--primary:hover, .btn--secondary:hover {
  background: #5136FF;
  border-color: #5136FF;
  color: #ffffff;
}

.btn--secondary {
  color: #2E1AAD;
  background: transparent;
}

.btn--black {
  background: #231F20;
  color: #ffffff;
}

.btn--black:hover {
  background: #363031;
}

.btn--black:active {
  background: #000000;
}

.hero {
  background: #f5f7fa;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-inner {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-areas: "info img" "search search";
  padding: 72px 8% 112px 9.5%;
  box-sizing: border-box;
  column-gap: 3%;
  row-gap: 48px;
  height: max-content;
}

.hero__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 360px;
}

.hero__img {
  grid-area: img;
  max-width: 585px;
  width: 100%;
  min-width: 210px;
}

.hero__search {
  grid-area: search;
}

.hero__heading {
  color: #231F20;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  max-width: 80%;
  min-width: 360px;
  width: 100%;
  margin-bottom: 28px;
}

.hero__text {
  color: #999999;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  max-width: 80%;
}

@media (max-width: 900px) {
  .hero-inner {
    grid-template-areas: "img" "info" "search";
    column-gap: 5px;
    padding: 24px 20px 40px;
    column-gap: 5px;
    justify-items: center;
  }

  .hero__heading {
    font-size: 36px;
  }

  .hero__info {
    text-align: center;
    align-items: center;
  }

  .hero__img {
    max-width: 50%;
  }
}
@media (max-width: 420px) {
  .hero-inner {
    width: 420px;
  }

  .hero__heading {
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    max-width: 230px;
  }

  .hero__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 280px;
  }

  .hero__img {
    max-width: 210px;
    height: auto;
    justify-self: center;
  }
}
.search-form {
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  display: flex;
  padding: 22px 32px;
  box-sizing: border-box;
  gap: 24px;
  width: 100%;
  max-width: 1100px;
  background: #fff;
}

.search-form__btn {
  width: 115px;
  box-sizing: border-box;
  font-size: 16px;
  height: 52px;
}

.job, .where, .distance {
  border-radius: 8px;
  border: 1px solid #dddddd;
  color: #999999;
  padding-left: 16px;
  font-size: 16px;
  height: 52px;
}

.job {
  width: 30%;
}

.where {
  width: 28%;
}

.distance {
  width: 22%;
  padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/assets/img/dropdown_arrow.svg") no-repeat 90% !important;
}

@media (max-width: 1100px) {
  .search-form {
    min-height: 96px;
    flex-wrap: wrap;
    width: auto;
    flex: 1 1;
  }

  .job {
    flex-grow: 1;
  }

  .where, .distance {
    min-width: 240px;
    flex-grow: 1;
  }

  .distance {
    flex-grow: 2;
    order: -1;
  }

  .search-form__btn {
    margin-left: auto;
    flex-grow: 1;
  }
}
@media (max-width: 420px) {
  .search-form {
    background: transparent;
    box-shadow: none;
    height: auto;
  }

  form.hero__search {
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-shrink: 0;
    background: transparent;
  }

  .job, .where, .distance {
    background: transparent;
  }

  .job {
    width: 100%;
  }

  .where, .distance {
    box-sizing: border-box;
    width: calc((100% - 24px) / 2) !important;
  }

  .search-form__btn {
    height: 52px;
    width: 100%;
  }
}
.guide {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 15.5% 151px 11.5%;
  box-sizing: border-box;
}

.candidates {
  display: grid;
  grid-template-areas: "heading img" "info img";
  column-gap: 120px;
  margin-bottom: 170px;
}

.candidates__heading {
  margin-bottom: 48px;
}

.guide__info-container {
  grid-area: info;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 524px;
}

.guide__info {
  width: 244px;
}

.guide__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #231F20;
  margin-bottom: 8px;
}

.guide__text {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.candidates__img {
  grid-area: img;
}

.employers {
  display: grid;
  grid-template-areas: "img heading" "img info" "img btn";
  column-gap: 135px;
  margin-bottom: 106px;
}

.employers__heading {
  margin-bottom: 48px;
}

.employers__img {
  grid-area: img;
  margin-top: 50px;
}

.employers__btn, .headhunters__btn {
  grid-area: btn;
  justify-self: start;
  margin-top: 30px;
  font-size: 16px;
  box-sizing: border-box;
  height: 52px;
}

.employers__btn {
  width: 130px;
}

.headhunters__btn {
  width: 150px;
}

.headhunters {
  display: grid;
  grid-template-areas: "heading img" "info img" "btn img";
  column-gap: 120px;
}

.headhunters__img {
  grid-area: img;
}

.candidates__img, .employers__img, .headhunters__img {
  min-width: 165px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .candidates__img, .employers__img, .headhunters__img {
    width: 30%;
  }

  .guide {
    padding: 0;
  }

  .section__heading {
    margin-top: 30px;
  }

  .guide__info-container {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }

  .guide__info {
    flex-grow: 1;
    max-width: 30%;
  }

  .candidates, .headhunters, .employers {
    grid-template-areas: "img" "heading" "info" "btn";
    width: calc(100% - 40px);
    padding: 40px 20px;
    justify-items: center;
    margin-bottom: 0px;
  }

  .employers__btn, .headhunters__btn {
    justify-self: center;
    width: 50%;
    margin-top: 50px;
  }
}
@media (max-width: 700px) {
  .guide__info {
    max-width: 50%;
  }
}
@media (max-width: 580px) {
  .guide {
    max-width: 580px;
    padding: 0;
  }

  .candidates, .headhunters, .employers {
    grid-template-areas: "img" "heading" "info" "btn";
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 40px 20px;
    justify-items: center;
  }
  .candidates .btn, .headhunters .btn, .employers .btn {
    justify-self: stretch;
    width: 100%;
  }

  .headhunters, .employers {
    grid-template-areas: "img" "heading" "info" "sliderBtns" "btn";
  }
  .headhunters .slider__nav, .employers .slider__nav {
    grid-area: sliderBtns;
  }

  .candidates__img, .employers__img, .headhunters__img {
    width: 165px;
    height: auto;
    margin-top: 50px;
  }

  .guide__info-container {
    width: 100%;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 30px;
  }

  .guide__info {
    background: #f5f7fa;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 150px;
  }
}
.comments-wrapper {
  background: #ecf8fe;
}

.comments {
  padding: 7.7% 11.4%;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.comments__container {
  display: flex;
  gap: 30px;
  max-width: 1100px;
}

.comment-Item {
  width: 350px;
  height: 410px;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
  padding: 32px 40px;
}

.comment-Item__img {
  margin-bottom: 26px;
}

.comment-Item__heading {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.comment-Item__text {
  margin-bottom: 95px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #231F20;
}

.user__info {
  display: grid;
  grid-template-areas: "img name" "img status";
  column-gap: 12px;
  justify-content: start;
}

.user__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-area: img;
}

.user__name {
  grid-area: name;
  font-size: 16px;
  line-height: 24px;
  color: #231F20;
}

.user__status {
  grid-area: status;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

@media (max-width: 420px) {
  .comments {
    padding: 40px;
    width: auto;
    text-align: center;
  }

  .comment-Item {
    width: 280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 20px 15px;
  }
  .comment-Item__heading {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
  }
  .comment-Item__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }
  .comment-Item .user__info {
    vertical-align: text-top;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.achievements {
  max-width: 1440px;
  margin: 0 auto;
  padding: 8.3% 11.45% 0;
  box-sizing: border-box;
  margin-bottom: 107px;
}
.achievements__img--1 {
  margin-bottom: 14px;
}
.achievements__img--2 {
  margin-bottom: 2px;
}
.achievements__img--3 {
  margin-bottom: 18px;
}
.achievements__img--4 {
  margin-bottom: 3px;
}

.achievements-container {
  display: flex;
  gap: 30px;
}

.achievements__item {
  padding: 44px 70px 32px;
  box-sizing: border-box;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  flex: 0 0 255px;
  min-width: 255px;
}
.achievements__item .item__heading {
  color: #231F20;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
}
.achievements__item .item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #999999;
  white-space: nowrap;
}

@media (max-width: 1300px) {
  .achievements-container {
    flex-wrap: wrap;
  }

  .achievements__item {
    max-width: 30%;
    flex-grow: 1;
  }
}
@media (max-width: 1086px) {
  .achievements__item {
    max-width: 50%;
  }
}
@media (max-width: 718px) {
  .achievements {
    padding: 40px 20px;
    margin-bottom: 20px;
  }
  .achievements__item {
    width: 80%;
  }
  .achievements .achievements__heading, .achievements .section__text {
    text-align: center;
  }

  .achievements-container {
    flex-direction: column;
    align-items: center;
  }
}
.news {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 8% 46px;
  margin: 0 auto;
}

.news-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.all-news {
  position: relative;
  padding-right: 19px;
  font-weight: 800;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}

.all-news::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 9px;
  background: url(./../../assets/img/rightArrow.svg);
}

.news-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1140px;
}

.news__item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  flex-grow: 1;
}

.news__img {
  max-width: 350px;
  width: 100%;
  height: 182px;
  border-radius: 8px;
}

.news__heading {
  color: #231F20;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  margin-top: 24px;
}

.news__text {
  margin-top: 12px;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.all-news--mobile {
  display: none;
}

@media (max-width: 1338px) {
  .news-container {
    max-width: 730px;
    margin: 0 auto;
  }
}
@media (max-width: 890px) {
  .news {
    width: 100%;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news .section__heading {
    justify-self: center;
  }

  .news-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 50px;
  }

  .news__item {
    background: #f5f7fa;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
  }

  .news__img {
    width: 100%;
  }

  .all-news--mobile {
    display: flex;
    margin-top: 20px;
    height: 52px;
    align-self: middle;
    width: 50%;
  }

  .all-news {
    display: none;
  }
}
.cookies {
  background: #999999;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
}

.cookies--hide {
  display: none;
}

.cookies-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.3% 25%;
  box-sizing: border-box;
  display: flex;
  gap: 3%;
  align-items: center;
}

.cookies__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  max-width: 524px;
}

.cookies__warning {
  font-weight: 900;
}

.cookies__btn {
  border-radius: 100px;
  border: transparent;
  font-size: 14px;
  width: 112px;
  height: 40px;
  box-sizing: border-box;
}

@media (max-width: 1330px) {
  .cookies-inner {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
  }

  .cookies__btn {
    width: 25%;
  }
}
@media (max-width: 420px) {
  .cookies__btn {
    align-self: stretch;
    width: 100%;
  }
}
.footer {
  width: 100%;
  background: #0b0d17;
}

.footer-inner {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 4.5% 30% 4.5% 11%;
  color: #ffffff;
  color: #d9dbe1;
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-right: 125px;
}

.footer__logo {
  margin-bottom: 40px;
  max-width: 109px;
}

.footer__text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer__heading {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
}

.footer__links-container {
  max-width: 160px;
}

.footer__links-container {
  margin-right: 30px;
  max-width: 185px;
}

.footer__link {
  color: #d9dbe1;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 12px;
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .footer-inner {
    width: 100%;
    padding: 40px 0 20px;
    flex-direction: column;
    align-items: center;
  }
  .footer-inner .footer__link {
    font-weight: 500;
  }
  .footer-inner .footer__link:hover {
    color: #ffffff;
  }
  .footer-inner .footer__link:active {
    color: #5136FF;
  }

  .footer__heading {
    font-size: 24px;
  }

  .copyright {
    width: auto;
    align-items: center;
    order: 2;
    margin-top: 50px;
  }

  .copyright, .footer__links-container {
    margin-right: 0;
    text-align: center;
  }

  .footer__links-container {
    margin-bottom: 30px;
  }
}
.slider__container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  cursor: grab;
  cursor: -webkit-grab;
  scrollbar-width: none;
}

.slider__container--scrolling {
  scroll-behavior: auto !important;
}

.slider__container .slide {
  box-sizing: border-box;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  cursor: -webkit-grab;
}

.slider__container--grabbing {
  cursor: grabbing;
}
.slider__container--grabbing .comment-Item {
  cursor: grabbing;
}

.slider__container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.slider__nav {
  display: flex;
  gap: 12px;
  margin: 48px auto 0;
}

.slider__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cccccc;
  border-color: transparent;
  cursor: pointer;
}

.slider__dot--active {
  background: transparent;
  border: 3px solid #2E1AAD;
  transform: translateY(-25%);
  box-sizing: content-box;
}

.slider__nav--hidden {
  visibility: hidden;
  cursor: auto;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

.main {
  width: 100%;
}

.section__heading {
  grid-area: heading;
  font-size: 40px;
  line-height: 56px;
  font-weight: 800;
  color: #231F20;
}

.section__text {
  font-size: 18px;
  line-height: 30px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 56px;
  margin-top: 8px;
}

@media (max-width: 420px) {
  .section__heading {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .section__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
