@import "./vars.scss";

.btn {
   
   border-radius: 8px;
   border: 1px solid $primary-blue;
   cursor: pointer;
   white-space: nowrap;
   @include manrope;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header .btn {   
   width: 100px;
   height: 40px;
   font-size: 14px;
}

.btn--primary {
   color: #ffffff;
   background: $primary-blue;
}
.btn--primary:hover {
   background: $secondary-blue;
}

.btn--secondary {
   color: $primary-blue;
   background: transparent;
}
.btn--secondary:hover{
   color: $secondary-blue;
   border-color: $secondary-blue;
}

.btn--black{
   background: $heading-color;
   color: $light-bg;   
}

.btn--black:hover{
   background: #363031;
}