@import "./vars.scss";

.comments-wrapper {
   background: $blue-bg;
}
.comments {
   padding: 112px 165px;
   margin: 0 auto;
   width: 1440px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
}



.comments__container{
   display: flex;
   gap: 30px;
   max-width: 1100px;
}


.comment-Item {
   
   width: 350px;
   height: 410px;
   background: #ffffff;
   box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
   border-radius: 8px;
   padding: 32px 40px;

   
}

.comment-Item__img {
   margin-bottom: 26px;
}

.comment-Item__heading {
   font-weight: 800;
   font-size: 20px;
   line-height: 28px;

   margin-bottom: 16px;
}
.comment-Item__text {
   margin-bottom: 95px;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color: $heading-color;
}
.user__info {
   display: grid;
   grid-template-areas:
      "img name"
      "img status";
   column-gap: 12px;
   justify-content: start;
}
.user__img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   grid-area: img;
}

.user__name {
   grid-area: name;
   font-size: 16px;
   line-height: 24px;
   color: $heading-color;
}

.user__status {
   grid-area: status;
   font-size: 14px;
   line-height: 24px;
   color: $dark-gray;
}




@media (max-width: 420px) {
   .comments{
      padding: 40px;
      width: auto;
      text-align: center;

   }
   .comment-Item{
      width: 280px;
      height: 380px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 32px 20px 15px;
      
      &__heading{
         margin-bottom: 12px;
         font-size: 18px;
         line-height: 26px;
      }
      &__text{
         margin-bottom: 40px;
         font-size: 16px;
         line-height: 24px;
      }
      .user__info{
         vertical-align: text-top;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
   
}