@import "./vars.scss";

.guide{
   max-width: 1440px;
   margin: 0 auto;
   padding: 112px 224px 151px 165px;
   box-sizing: border-box;
}

.candidates{
   display: grid;
   grid-template-areas: 
   "heading img"
   "info img";  
   column-gap: 120px;
   margin-bottom: 170px;
}





.candidates__heading{
   margin-bottom: 48px;
}
.guide__info-container{
   grid-area: info;
   display: flex;
   gap:32px;
   flex-wrap: wrap;
   width: 524px;
}
.guide__info{
   width: 244px;   
}

.guide__heading{
   font-weight: 700;
   font-size: 18px;
   line-height: 26px;
   color: $heading-color;
   margin-bottom: 8px;
}

.guide__text{
   color: $dark-gray;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}

.candidates__img{
   grid-area: img;
}



.employers{
   display: grid;
   grid-template-areas: 
   "img heading"
   "img info"
   "img btn";   
   column-gap: 135px;
   margin-bottom: 106px;
}

.employers__heading{   
   margin-bottom: 48px;
}

.employers__img{
   grid-area: img;
   margin-top: 50px;
}

.employers__btn, .headhunters__btn{
   grid-area: btn;
   justify-self: start;
   
   margin-top: 30px;
   font-size: 16px;
   box-sizing: border-box;
   height: 52px;
}
.employers__btn{
   width: 130px;
}

.headhunters__btn{
   width: 150px;
}


.headhunters{   
   display: grid;
   grid-template-areas: 
   "heading img"
   "info img"
   "btn img";      
   column-gap: 120px;
}
.headhunters__img{
   grid-area: img;
}

@media (max-width: 420px) {
   .guide{
      max-width: 420px;
      padding: 0;
   }
   
   .candidates, .headhunters, .employers{
      grid-template-areas: 
      "img"
      "heading"
      "info"
      "btn";
      width: calc( 100% - 20px * 2);
      margin: 0 auto;
      padding: 40px 20px;
      justify-items: center;   
      .btn{
         justify-self: stretch;
         width: 100%;
      }
   }
   .headhunters, .employers{
      grid-template-areas:
      "img"
      "heading"
      "info"
      "sliderBtns"
      "btn" ;
      .slider__nav{
         grid-area: sliderBtns;
      }
   }
   .candidates__img, .employers__img, .headhunters__img{
      width: 165px;
      height: auto;
   }
   .guide__info-container{
      width: 100%;
      flex-wrap: nowrap;
      overflow: scroll;
      
      gap:30px;
   }
   .candidates{
         
   }
   .guide__info{
      background: $base-color;
      border-radius: 8px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      height: 150px;
   }
   

}