@import "./vars.scss";

.header-wrapper {
   width: 100%;
   border-bottom: 1px solid $light-gray;
}
.header {
   box-sizing: border-box;
   width: 1440px;
   height: 80px;
   padding: 0 165px 0 135px;
   display: flex;
   align-items: center;
   margin: 0 auto;

   background: $light-bg;
   box-sizing: border-box;

   font-size: 14px;
   @include manrope;
   font-weight: 700;
   line-height: 20px;
}
.header__nav {
   display: flex;
   align-items: center;
}
.header__nav-wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.header__logo {
   margin-right: 60px;
   background: #ffffff;
   
}
.header__navList {
   display: flex;
}

.header__navItem {
   margin-right: 32px;
   position: relative;
   line-height: 80px;
   min-width: fit-content;
}
.header__navLink {
   color: $dark-gray;
}
.header__navLink--active {
   color: $primary-blue;
}
.header__navLink:hover {
   color: $secondary-blue;
}
.header__navLink:active {
   color: $primary-blue--active;
}

.header__navLink--active::after {
   content: "";
   height: 1px;
   right: 0;
   left: 0;
   bottom: 0;
   position: absolute;
   background: $primary-blue;
}

.header__navItem:last-child {
   margin-right: 48px;
}

.header__loginBtn {
   margin-right: 14px;
}

.header__signBtn {

}

.header__mobile-buttons {
   display: none;
}
.header__menuBtn{
   border: none;
   height: 14px;
   cursor: pointer;
   background: transparent;
   // border: transparent;
   padding-top: 3px;
   &:hover{
      .menu__line{
         background: $secondary-blue;
      }
   }
}



.header__menuBtn--active{   
   .menu__line:nth-child(2){
      background-color: transparent !important;
   }  
   .menu__line:nth-child(1){      
      transform: translateY(7px) rotate(45deg);
      transform-origin: 55% 60%;      
      background: $dark-gray;
   }
   .menu__line:nth-child(3){      
      transform: translateY(-7px) rotate(-45deg);
      transform-origin: 60% 60%;
      background: $dark-gray;
   }
   &:hover{
      .menu__line{
         background: $secondary-blue;
      }
   }   
}

.menu__line{
   width: 20px;
   height: 2px;
   border-radius: 1px;
   background: $primary-blue;
   margin-bottom: 4px;
   transition: all 0.12s;  
}
.menu__line:last-child{
   margin-bottom: 0;
}

@media (max-width: 420px) {
   .header {
      *{
         z-index: 5;

      }
      height: 65px;
      max-width: 95%;
      padding: 0 15px;
      justify-content: space-between;
   }
   .header__logo {
      height: 30px;
      width: 123px;
      padding: 15px 0;
      
   }
   .header__signBtn,
   .header__loginBtn {
      display: none !important;
   }
   .header__navList {
      flex-direction: column;
   }
   .header__navItem {
      line-height: 52px;
   }

   .header__nav-wrapper {
      z-index: 1 !important;
      flex-direction: column;
      position: absolute;
      justify-content: start;
      background: white;
      // top: -500%;
      left: 0;
      padding: 0 15px 0;
      transform: translateY(-200%);
      transition: transform 0.2s ease-out;
   }
   .header__nav-wrapper--active{
      top: 0px !important;
      transform: translateY(66px);
      
   }
   .header__mobile-buttons {
      display: flex;
      gap: 20px;
   }

   .header__account-btn {
      display: block;
   }
   .header__account-btn:hover{
      svg path{
         fill: $secondary-blue; 
      }
   }
   
}
