.search-form {
   background: #ffffff;
   box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.1);
   border-radius: 8px;
   display: flex;
   
   padding: 22px 32px;
   box-sizing: border-box;
   gap: 24px;

   width: 100%;
   max-width: 1100px;
   background: #fff;
   
   
   
}

.search-form__btn{
   
   width: 115px;
   box-sizing: border-box;
   font-size: 16px;
   height: 52px;
}

.job,.where,.distance{
   border-radius: 8px;
   border: 1px solid $search-border;
   color: $dark-gray;
   padding-left: 16px;
   font-size: 16px;
   height: 52px;
}

.job{
   width: 30%;   
}

.where{
   width: 28%;
}

.distance{
   // background: $light-bg;
   width: 22%;
   padding-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/assets/img/dropdown_arrow.svg") no-repeat 90% !important;
}

@media (max-width: 1100px){
   .search-form{
      min-height: 96px;
      flex-wrap: wrap;
      
      width: auto;
      flex: 1 1;
   }
   .job{
      flex-grow: 1;
   }
    .where, .distance{
      
      min-width: 240px;
      flex-grow: 1;
   }
   .distance{
      flex-grow: 2;
      order: -1;
   }
   .search-form__btn{
      margin-left: auto;
      flex-grow: 1;
   }
}
@media (max-width: 420px) {

   .search-form{
      background: transparent;
      box-shadow: none;
      height: auto;
   }
   
   form.hero__search{
      padding: 0;
      width: 100%;
      flex-wrap: wrap;
      flex-shrink: 0;
      background: transparent;
      
   }

   .job, .where, .distance{
      background:transparent;
      
   }
   .job{
      width: 100%;
   }
   .where, .distance{
      box-sizing: border-box;
      width: calc((100% - 24px) / 2) !important;
   }
   .search-form__btn{
      height: 52px;
      width: 100%;
   }
   
}