@import "./header.scss";
@import "./buttons.scss";
@import "./hero.scss";
@import "./vars.scss";
@import "./search-form.scss";

* {
   margin: 0;
   padding: 0;
}
ul,
li,
a {
   text-decoration: none;
   list-style: none;
}

.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   @include manrope;
}


