@import "./header.scss";
@import "./buttons.scss";
@import "./hero.scss";
@import "./vars.scss";
@import "./search-form.scss";
@import "./guide.scss";
@import "./comments.scss";
@import "./achievements.scss";

* {
   margin: 0;
   padding: 0;
}
ul,
li,
a {
   text-decoration: none;
   list-style: none;
}

.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   @include manrope;
}

.main{
   width: 100%;
}


.section__heading{
   grid-area: heading;
   font-size: 40px;
   line-height: 56px;
   font-weight: 800;
   color: $heading-color;
}